*/*.pth
*/**/*.pth
*/**/**/*.pth
*/**/**/**/*.pth
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/*.swp
*/**/*.swp
*/**/**/*.swp
*/**/**/**/*.swp
*/*.txt
*/**/*.txt
*/**/**/*.txt
*/**/**/**/*.txt

data/HDD
data/THUMOS
data/CRICKET
data/data_info_back.json
data/data_info_sample_back.json
cricket_highlights/

model_zoo/*

tools/*.json
tools/**/*.json
tools/**/**/*.json
tools/**/**/**/*.json

